<%= render 'result_info'%>

<div>
  <ul class="variant_of_content">
    <li>
      <%= link_to "Posts", searches_find_microposts_path(:utf8 => @params_of_coding, :q => @key_word) %>
    </li>

    <li class="current_variant_of_searching">
      <%= link_to "Users", searches_find_users_path(:utf8 => @params_of_coding, :q => @key_word) %>
    </li>
  </ul>
</div>

<%= will_paginate %>
    <ul class="users">
        <%= render @searches %>
    </ul>
<%= will_paginate %>