<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen', :cache => false %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print', :cache => false %>
	<%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>